{% extends "yearstemp.html" %}

{% block Cuba_ex %}

<h1>Cuba in the local news </h1>
<h2>Pick the day you would like to analyze: </h2>

<ul class="nav">
  <li><a href="http://localhost:8000/myapp/newshome/Cubatab/Cuba25">11-25-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/Cubatab/Cuba26">11-26-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/Cubatab/Cuba27">11-27-2016</a></li>
</ul>

<br>
<img src="https://github.com/carolinabernal/US-news/raw/master/CubaTOTAL.png" alt="Fresh" width="100%" align="right">
<h3>Note: Stars represent states where Trump won the electoral college</h3>
<br>

{% endblock %}
