{% extends "yearstemp.html" %}

{% block marihuana_ex %}

<h1>Marihuana in the local news </h1>
<h2>Pick the day you would like to analyze: </h2>

<ul class="nav">
  <li><a href="http://localhost:8000/myapp/newshome/marihuanatab/Marihuana22">11-22-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/marihuanatab/Marihuana23">11-23-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/marihuanatab/Marihuana24">11-24-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/marihuanatab/Marihuana25">11-25-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/marihuanatab/Marihuana26">11-26-2016</a></li>
  <li><a href="http://localhost:8000/myapp/newshome/marihuanatab/Marihuana27">11-27-2016</a></li>
</ul>

<br>
<img src="https://github.com/carolinabernal/US-news/raw/master/MarihuanaTOTAL.png" alt="Fresh" width="100%" align="right">
<h3>Note: Stars represent states where Trump won the electoral college</h3>
<br>


{% endblock %}
