
<!DOCTYPE html>
<html>
<title>localnews</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
h2 {letter-spacing: 2px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-padding-100 w3-center w3-opacity">
  <h1 class="w3-border w3-show-inline-block w3-light-grey">What do state local news report?</h1>
  <br>
  <br>
  <div class="w3-padding-10">
    <div class="w3-btn-bar w3-border w3-show-inline-block">
      <a href="http://localhost:8000/myapp/newshome/Trumptab" class="w3-btn w3-red">"Trump"</a>
      <a href="http://localhost:8000/myapp/newshome/Hillarytab" class="w3-btn w3-blue">"Hillary"</a>
      <a href="http://localhost:8000/myapp/newshome/marihuanatab" class="w3-btn w3-green">"marihuana"</a>
      <a href="http://localhost:8000/myapp/newshome/Cubatab" class="w3-btn w3-purple">"Cuba"</a>
    </div>
  </div>
  <h1 class="w3-xlarge w3-padding-32"> Have you ever thought how much can your perception<br>
     of a particular topic change when you’re more or less<br>
     exposed to more or less information on that topic?</h1>
  <br>
  <div class="w3-row-padding" style="margin-bottom:128px">
    <img src="https://github.com/carolinabernal/US-news/raw/master/News-state.gif" style="width:50%">
  </div>
  <h1 class="w3-xlarge"> Based on tweets from the lasts days, this app shows<br>
     in maps difference in coverage of different topic<br>
     among the main newspapers per state</h1>
  <div class="w3-padding-32">
  <h1 class="w3-xlarge">1.	Choose the topic of your interest.<br>
    2.	Choose the date for which you want to <br>
    check difference in news coverage across states<br>
    3.	Enjoy the map and make you own analysis!
</h1>
  </div>
  <div class="w3-padding-10">
    <div class="w3-btn-bar w3-border w3-show-inline-block">
      <a href="http://localhost:8000/myapp/newshome/Trumptab" class="w3-btn w3-red">"Trump"</a>
      <a href="http://localhost:8000/myapp/newshome/Hillarytab" class="w3-btn w3-blue">"Hillary"</a>
      <a href="http://localhost:8000/myapp/newshome/marihuanatab" class="w3-btn w3-green">"marihuana"</a>
      <a href="http://localhost:8000/myapp/newshome/Cubatab" class="w3-btn w3-purple">"Cuba"</a>
    </div>
  </div>
  <!-- paragrah -->
  <div class="w3-content" style="max-width:700px">
  <br>
  <h2 class="w3-xlarge">(If your topic of interest is not listed,<br>
    we can run it for you for a small consultation fee)</h2>


</header>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center">
  <a href="https://twitter.com/cabernal7" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
  <a href="https://twitter.com/miriampeq" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
  <a href="https://twitter.com/manesqui2" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


</body>
</html>
